.main_drag {
    width: 100vw;
    height: 100vh;
    padding: 2.5%;
    /* background: radial-gradient(circle,#2f184b ,#f4effa); */
    background-color: black;
    color: orange;
    background-size: 100% 200%;
    animation: bg 1s infinite;
    cursor: url('/fire.png') 32 32, auto;
}


.meow {
    width: 100%;
    background-color: black;
    height: 100%;
    border: 8px dashed white;
    display: grid;
    place-items: center;
    font-size: 32px;
    border-radius: 16px;
}

@keyframes blast {
    0% {
        background-position: 5% 55%;
    }

    16.66% {
        background-position: 16% 55%;
    }

    33.33% {
        background-position: 30% 55%;
    }

    50% {
        background-position: 47% 55%;
    }

    66.6% {
        background-position: 62% 55%;
    }

    83.3% {
        background-position: 80% 55%;
    }

    100% {
        background-position: 93.5% 55%;
    }
}

.ani {
    visibility: hidden;
    position: absolute;
    width: 120px;
    height: 120px;
    scale: 1.5;
    background:url('/blast2.png');
    background-size: 1000% 200%;
    background-repeat: no-repeat;
    background-position: 5% 55%;
    animation: blast 1.25s steps(1) 0.5s;
}